.card {
    background-color: var(--neutral-dark-blue);
    color: var(--neutral-light-grey);
    padding: 25px;
    border-radius: 15px;
    min-width: 345px;
    width: 100%;
    max-width: 400px;
    height: 385px;
}